{% extends "components/layout.html" %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate" style="padding:0 50px 50px 50px">
                <img src="images/jsf/logo.jpg" width="100%" style="height:auto">
            </div>
            <div class="col-md-3 pl-md-5 ftco-animate">
                <h2 class="mb-4">Established since 2020</h2>
                <p>
                    Jeevan Stambh Foundation is a non-profit organisation working towards livelihood restoration, crisis intervention, education, health and the environment. Based in Delhi, JSF was founded by Chandrajeet Kumar Gupta, Sonam Chaturvedi, Mohd Arman Khan, Shaurya Roy, and Upamanyu Raju began as a crisis intervention mission during COVID 19.
                </p>
            </div>
            <div class="col-md-3 pl-md-5 ftco-animate">
                <h2 class="mb-4">How it started</h2>
                <p>
                    Jeevan Stambh Foundation welcomes volunteers who wish to utilise their skills and contribute towards the betterment of several socially disadvantaged communities. Doctors, teachers or any other working professionals can reach out to us and connect over our ongoing projects that suit their domains.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-gallery">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">Recent Activities</h2>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                    live the blind texts.</p> -->
        </div>
    </div>
    <div class="d-md-flex">
        <a href="images/jsf/about/001.jpg"
            class="gallery image-popup d-flex img ftco-animate w-100 shadow-1-strong rounded mb-4"
            style="background-image: url(images/jsf/about/001.jpg);margin:10px;">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/about/002.jpg"
            class="gallery image-popup d-flex img ftco-animate w-100 shadow-1-strong rounded mb-4"
            style="background-image: url(images/jsf/about/002.jpg);margin:10px;">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/about/003.jpg"
            class="gallery image-popup d-flex img ftco-animate w-100 shadow-1-strong rounded mb-4"
            style="background-image: url(images/jsf/about/003.jpg);margin:10px;">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>

    </div>
    <div class="d-md-flex">
        <a href="images/jsf/about/004.jpg"
            class="gallery image-popup d-flex img ftco-animate w-100 shadow-1-strong rounded mb-4"
            style="background-image: url(images/jsf/about/004.jpg);margin:10px;">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/about/005.jpg"
            class="gallery image-popup d-flex img ftco-animate w-100 shadow-1-strong rounded mb-4"
            style="background-image: url(images/jsf/about/005.jpg);margin:10px;">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>

</section>
{% endblock %}