{% extends "components/layout.html" %}
{% block content %}
<section class="ftco-gallery">
    {% for image_list in data %}
        <div class="d-md-flex">
            {% for image in image_list %}
            <a href="{{ image.src }}"
                class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
                style="background-image: url({{ image.src }});">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="icon-search"></span>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endfor %}
</section>
{% endblock %}


