{% extends "components/layout.html" %}
{% block content %}
<div class="hero-wrap" style="background-image: url('images/');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">To Be A Source Of
                    Constant Support & Relief Of Crisis-affected People</h1>
                <!-- <iframe src="https://www.youtube.com/embed/GJi8yVRMLys" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GJi8yVRMLys" allowfullscreen=""></iframe>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GJi8yVRMLys" allowfullscreen=""></iframe>
</div> -->


<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Served Over</span>
                        <strong class="number" data-number="76">0</strong>
                        <span>projects in 11 cities in India</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Lend A Helping Hand</h3>
                        <p>Help Us Raise Money</p>
                        <p><a href="https://milaap.org/fundraisers/support-jeevan-stambh-foundation"
                                class="btn btn-white px-3 py-2 mt-2">Donate Now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Be a Volunteer</h3>
                        <p>Want to get involved?</p>
                        <p><a href="mailto:contact@jeevanstambh.in" class="btn btn-white px-3 py-2 mt-2">Be A Volunteer</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Vision</h3>
                        <p>To be a soure of constant support & relief of crises-affected people</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Mission</h3>
                        <p>To rehabilitate lives & restore livelihoods of the weaker sections of the Indian society;
                            because everyone deserves a life of dignity & respect.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Are you a Corporate?</h3>
                        <p>Connect with us via our Corporate Social Responsibility Program</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Causes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    <div class="item1">
                        <div class="cause-entry">
                            <a href="covid_relief.html" class="img" style="background-image: url(images/jsf/covid/002.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="covid_relief.html">COVID/Lockdown Crises</a></h3>
                                <p>Rehabilitate and restore livelihoods of migrant workers adversely affected by
                                    Covid-19 and associated lockdown in India, we have worked in the following areas
                                    with the help of partner organizations and a dedicated group of volunteers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="fire_relief.html" class="img" style="background-image: url(images/jsf/fire/008.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="fire_relief.html">Fire Relief</a></h3>
                                <p>In a massive fire near Daulatpur, Shahbad dairy in Delhi on the 16th of July,
                                    more than 80 slum dwellings were gutted. Residents lost their homes and
                                    belongings overnight.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="flood_relief.html" class="img" style="background-image: url(images/jsf/flood/001.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="flood_relief.html">Flood Relief</a></h3>
                                <p>With the help of our volunteers, partner organizations and donors, we distributed
                                    essential relief goods – including ration kits, sanitary pads, mosquito nets,
                                    slippers – to flood affected regions of Bihar and Assam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="medical_relief.html" class="img" style="background-image: url(images/jsf/medical/005.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="medical_relief.html">Medical Emergencies</a></h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an
                                    almost unorthographic life</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="rescue_relief.html" class="img" style="background-image: url(images/jsf/rescue/001.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="rescue_relief.html">Rescue Efforts</a></h3>
                                <p>We helped with efforts of local NGOs and activist groups to rescue laborers
                                    working as bonded labor in brick kilns. We also further sponsored their travel
                                    to their homes. We were able to amplify these stories and arrange timely support
                                    for rescued workers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Latest Donations</h2>
                <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img"
                            style="background-image: url('https://img.icons8.com/color/48/000000/donate.png');">
                        </div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Kartik</a></h3>
                            <!-- <span class="position">Donated Just now</span> -->
                            <div class="text">
                                <p>Donated <span>₹10,000</span>
                                    <!-- <a href="#">Children Needs Food</a> -->
                                </p>
                                <p>
                                    With best wishes from the Happiness Collective.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img"
                            style="background-image: url('https://img.icons8.com/nolan/64/charity-box.png');"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Shibani</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>
                                    Donated <span>₹50,000</span>
                                </p>
                                <p>
                                    Praying for you all 🙏🏻 Thank you ❤️
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img"
                            style="background-image: url('https://img.icons8.com/external-becris-lineal-color-becris/64/000000/external-charity-business-situations-becris-lineal-color-becris.png');">
                        </div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Anonymous</a></h3>
                            <div class="text">
                                <p>
                                    Donated
                                    <span>$23.75</span>
                                </p>
                                <p>
                                    Thank you for the good work. Keeping India in my thoughts and prayers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-gallery">
    <div class="d-md-flex">
        <a href="images/jsf/covid/003.jpg"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/covid/003.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/covid/006.jpg"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/covid/006.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/covid/009.png"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/covid/009.png);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/flood/024.jpg"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/flood/024.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
    <div class="d-md-flex">
        <a href="images/jsf/flood/028.jpg"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/flood/028.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/uploads/002.jpg"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/uploads/002.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/uploads/020.jpeg"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/uploads/020.jpeg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="images/jsf/uploads/021.jpg"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url(images/jsf/uploads/021.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
</section>

<!-- <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Recent Activities</h2>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sept 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-3"><a href="#">Hurricane Irma has devastated Florida</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sept 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-3"><a href="#">Hurricane Irma has devastated Florida</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sept 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-3"><a href="#">Hurricane Irma has devastated Florida</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="ftco-section-3 img" style="background-image: url(images/jsf/uploads/001.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-2 align-self-stretch" style="background-image: url(images/jsf/uploads/001.jpg);">
                </div>
            </div>
            <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                <h3 class="mb-3">Be a volunteer</h3>
                <form action="#" class="volunter-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="3" class="form-control"
                            placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}