{% extends "components/layout.html" %}
{% block content %}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-16 ftco-animate">
                <h2 class="mb-3 text-center"
                    style="background-color: rgba(0, 0, 0, 0.575); color:lightgray; padding:10px;">
                    {{ relief_area }}
                </h2>
                {% for event in data %}
                    <div style="padding: 20px; color:#c7e8e7; font-weight:300">
                        <h2 class="mb-3 text-center" style="background-color: #ffffff7d;">
                            {{ event.title }}
                        </h2>
                        <span class="position" style="color: #e5e5e5"> {{ event.date }} </span>
                        <div class="clearfix" style="margin-bottom: 10px;">
                            <img src="{{ event.image }}" class="col-md-8 rounded float-right" alt="..." ,
                                style="max-height: 300px; max-width: 300px;">
                            {% for para in event.paras %}
                            <p class="d-inline">
                                {{ para }}
                            </p>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section> <!-- .section -->
{% endblock %}