{% extends "components/layout.html" %}
{% block content %}
    <!-- Work listing -->
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                {% for work in data %}
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="{{ work.ref }}" class="block-20" style='background-image: url( {{ work.image }} ); background-position: top;'>
                        </a>
                        <div class="text p-4 d-block">
                            <h3 class="heading mb-4"><a href={{ work.ref }}>{{ work.title }}</a></h3>
                            <p class="time-loc">
                                <span><i class="icon-map-o"></i> {{ work.location }}</span>
                            </p>
                            <div class="meta mb-3">
                                <div><a href={{ work.ref }}>{{ work.date }}</a></div>
                            </div>
                            <p >
                                {{ work.short_description }}
                            </p>
                            <p>
                                <a href={{ work.ref }}> Read More <i class="ion-ios-arrow-forward"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- END Work listing -->
 {% endblock %}
